body{
  background:linear-gradient(black, #333) ;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  letter-spacing: 50px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background-color: white;
  padding: 25px;


}

h1:hover{
  letter-spacing: 30px;
}